@font-face {
    font-family: "MTSCompact";
    src: url("../fonts/MTSCompact-Regular.woff2") format("woff2");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "MTSCompact";
    src: url("../fonts/MTSCompact-Medium.woff2") format("woff2");
    font-display: block;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "MTSCompact";
    src: url("../fonts/MTSCompact-Bold.woff2") format("woff2");
    font-display: block;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "MTSCompact";
    src: url("../fonts/MTSCompact-Black.woff2") format("woff2");
    font-display: block;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "MTSExtended";
    src: url("../fonts/MTSExtended-Regular.woff2") format("woff2");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "MTSExtended";
    src: url("../fonts/MTSExtended-Medium.woff2") format("woff2");
    font-display: block;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "MTSExtended";
    src: url("../fonts/MTSExtended-Bold.woff2") format("woff2");
    font-display: block;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "MTSExtended";
    src: url("../fonts/MTSCompact-Black.woff2") format("woff2");
    font-display: block;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "MTSText";
    src: url("../fonts/MTSText-Regular.woff2") format("woff2");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "MTSText";
    src: url("../fonts/MTSText-Medium.woff2") format("woff2");
    font-display: block;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "MTSText";
    src: url("../fonts/MTSText-Bold.woff2") format("woff2");
    font-display: block;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "MTSText";
    src: url("../fonts/MTSText-Black.woff2") format("woff2");
    font-display: block;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "MTSUltraExtended";
    src: url("../fonts/MTSUltraExtended-Light.woff2") format("woff2");
    font-display: block;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "MTSUltraExtended";
    src: url("../fonts/MTSUltraExtended-Regular.woff2") format("woff2");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "MTSUltraExtended";
    src: url("../fonts/MTSUltraExtended-Bold.woff2") format("woff2");
    font-display: block;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "MTSUltraExtended";
    src: url("../fonts/MTSUltraExtended-Black.woff2") format("woff2");
    font-display: block;
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "MTSWide";
    src: url("../fonts/MTSWide-Light.woff2") format("woff2");
    font-display: block;
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "MTSWide";
    src: url("../fonts/MTSWide-Regular.woff2") format("woff2");
    font-display: block;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "MTSWide";
    src: url("../fonts/MTSWide-Medium.woff2") format("woff2");
    font-display: block;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "MTSWide";
    src: url("../fonts/MTSWide-Bold.woff2") format("woff2");
    font-display: block;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "MTSWide";
    src: url("../fonts/MTSWide-Black.woff2") format("woff2");
    font-display: block;
    font-weight: 900;
    font-style: normal
}